================================
#ignore IDE and OS configs
================================
.DS_Store
.idea

================================
#!!!secret, env variables!!!
================================
.envrc.sh

================================
#ignore npm packages
================================
node_modules/

================================
# log files
================================
logs/
